#services {
    padding: 0;
    /* background-image: url(images/so-white.jpg); */
    /* background-color: #fcf4fa; */
}

.about-us {
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem 0;
}

s {
    text-decoration: line-through;
}

.j-box .small-text {
    font-size: 0.5rem;
}

.j-box {
    background-image: url(images/so-white.jpg);
    color: var(--base-colour);
    width: 100%;
    margin: 0;
}

.grid > .j-box:nth-of-type(odd) {
    grid-column: 1 /4;
}

.grid > .j-box:nth-of-type(even) {
    grid-column: 2 / 5;
}

.j-box p {
    margin: 1rem auto;
    width: 70%;
    font-size: 1.3rem;
    font-weight: 600;
}

.img-box {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.img-box img {
    position: relative;
    height: 100%;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 991px) {
    .about-us {
        grid-template-rows: 1vh 1vh;
    }
}